<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no">
<title>메모 앱</title>
<link href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" rel="stylesheet"/>
<link href="app.css" rel="stylesheet"/>
</head>
<body>
<div id="app" class="app">
	<div class="head">
		<span class="title">To Do List</span>
		<span class="list-btn" v-if="mode !== 'list'" v-on:click="mode='list'">&lt;</span>
	</div>
	<div class="body">
		<div v-if="mode === 'list'">
			<ul><li v-for="m in memos" @click="open(m.id)">{{m.title}}</li></ul>
		</div>
		<div v-else class="write">
			<label for="memo-title">제목</label><input id="memo-title" class="memo-title" type="text" v-model="memo.title"/>
			<textarea v-model="memo.content"></textarea>
			<button class="save-btn" type="button" @click="save" v-bind:class="{'full' : mode === 'write'}">저장</button>
			<button class="remove-btn" type="button" @click="remove" v-if="mode==='edit'">삭제</button>
		</div>
		<button class = "add-btn" type="button" @click="write()" v-if="mode==='list'">+</button>
	</div>
</div>
<script src="vue.js"></script>
<script src="app.js"></script>
</body>
</html>